body
    {background:#DDF}
p
    {margin:5px}
table
    {border-collapse:collapse;
    border:1px solid #55BFCF;}
th
    {background-color:#55BFCF;
    padding:3px;}
td
    {border:1px solid #55BFCF;
    padding-left:5px;
    padding-right:5px}
#contenedor
    {position: relative;
    width: 980px;
    margin: auto;
    background:#EFE;}
#info_usuario
    {padding:1%;
    width: 98%;
    background:#FFC;
    text-align:right;
    border-bottom: 1px solid #55BFCF;}
#error_login
    {padding:1%;
    width: 98%;
    background:#FFC;
    border-bottom: 1px solid #55BFCF;}
div.bloque_horizontal
    {padding:1%;
    width: 98%;
    border-bottom: 1px solid #55BFCF;}
